@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

div,
span,
p {
  font-size: 1.6rem;
}
