.authFormWrapper {
  text-align: center;
  margin: 1rem auto;

  .authForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    input {
      padding: 1rem;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
      background-color: white;
    }
  }

  .authFormLinks {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .oauthForms {
    margin-top: 2rem;

    .oauthFormsIcons {
      display: flex;
      gap: 1rem;
      margin-top: 1rem;
      justify-content: center;
    }
  }
}
